/* CSS Document */

:root {
--vcbedrock : #2e2e2e;
--vcstone 	: #969696;
--vcmetal 	: #3b4047;
--vcwood 	: #9e6406;
--vcice 	: #8690b0;
--vcvine 	: #77b037;
--vcdirt 	: #422301;
--vcgrass 	: #00610d;
--vcsand	: #f2e7ac;
}

