.ps_layer_container {
    display: flex;
    flex-direction: row;
    width: max-content;
   
}

.ps_layer_row {
    width: 200px;
    /*width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* for centering 3 blocks in the center */
    /* justify-content: space-between; for space in between */
}

.ps_layer {
    /**/width: 200px;
    /*width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* for centering 3 blocks in the center */
    /* justify-content: space-between; for space in between */
}


.ps_layer_header {
    padding: 2px;
    width: 200px;
    height: 64px;
    background-color: #e47f0b;
}

.ps_layer_header:hover {
    background-color: #ff8d0a;
}

.ps_layer_node {
    padding: 2px;
    background-color: #808080;
}

.ps_layer_node:hover {
    background-color: #a2a2a2;
}


.full_height {
    height: 100%;
}


/* Add scroll where scrollable class has been applied */
.scrollable {
    overflow: auto;
}
