<div class="flex-container sectionOutline">
    <div>
        <button id="buttonPaint" onclick="javascript:editorSelection(0);">
            <i class="fa-solid fa-brush"></i> 
        </button> 
    </div>

    <div>
        <button id="buttonErase" onclick="javascript:editorSelection(1);">
            <i class="fa-solid fa-eraser"></i> 
        </button> 
    </div>

    <div>
        <button id="buttonMesh" onclick="javascript:editorSelection(2);">
            <i class="fa-solid fa-hotel"></i> 
        </button> 
    </div>
    
    <div>
        <button id="buttonSettings" onclick="javascript:editorSelection(3);">
            <i class="fa-solid fa-gear"></i> 
        </button> 
    </div>          
</div>

<!-- 		
		bed rock  	1 
		stone       2 
		metal       3 
		wood        4 
		ice         5 
		vine		6 
		dirt		7 
		grass		8 
		sand        9 		
		-->

<div id="brushInfoDiv" class="sectionOutline">
    <div id="brushInfoPlacementTypeDiv" class="flex-container">
        <div>
            <button id="buttonReplace" onclick="javascript:placementMode(0);">
                <i class="fa-solid fa-spoon"></i>
            </button>
        </div>
        
        <div>
            <button id="buttonFill" onclick="javascript:placementMode(1);">
                <i class="fa-solid fa-fill"></i>
            </button> 
        </div>
        
        <div>
            <button id="buttonCover" onclick="javascript:placementMode(2);">
                <i class="fa-solid fa-snowflake"></i>
            </button>
        </div>
    </div>

    <div class="flex-container">
        <div>
            <button id="buttonSphere" onclick="javascript:shapeMode(0);">
                <i class="fa-solid fa-circle"></i>
            </button> 
        </div>

        <div>
            <button id="buttonBox" onclick="javascript:shapeMode(1);">
                <i class="fa-solid fa-square"></i>
            </button>
        </div>

        <!-- <div>
            <button id="buttonSpray" onclick="javascript:shapeMode(2);">
                <i class="fa-solid fa-spray-can"></i>
            </button> 
        </div> -->
    </div>

    <div class="flex-container">
        <div>Brush:</div>
        <input type="range" min="1" max="50" value="10" class="slider" id="brushSize">
        <div id="brushSizeDiv">10</div>
    </div>

    <!--<div class="flex-container">		  
        <div>Spray:</div>
        <input type="range" min="1" max="50" value="10" class="slider" id="sprayIntensity">
        <div id="sprayIntensityDiv">10</div>
    </div> -->
</div>

<div id="voxelSelectDiv" class="sectionOutline">
</div>

<div id="meshSelectDiv">

    <div>
        <div class="flex-container ">
            <div>Scale:</div><input type="range" min="25" max="500" value="100" class="slider" id="meshScale"
                onchange="javascript:meshScaleChange(this.value)">
            <div id="meshScaleDiv">100%</div>
        </div>

        <div class="sectionOutline">
            <label><b>Pivot</b></label>
            <div class="flex-container input-container">
                <label>Horizontal Alignment:</label>

                <div class="input-container-tab">
                    <input type="radio" id="alignHorzL" name="alignHorz" value="Left" onclick="javascript:horzAlignClick(0)">
                    <label>Left</label>
                </div> 
                
                <div class="input-container-tab">
                    <input type="radio" id="alignHorzC" name="alignHorz" value="Center" onclick="javascript:horzAlignClick(1)" checked>
                    <label>Center</label>
                </div>
                
                <div class="input-container-tab">
                    <input type="radio" id="alignHorzR" name="alignHorz" value="Right" onclick="javascript:horzAlignClick(2)">
                    <label>Right</label>
                </div>
            </div>

            <div class="flex-container input-container">
                <label>Vertical Alignment:</label>
                
                <div class="input-container-tab">
                    <input type="radio" id="alignVertT" name="alignVert" value="Top" onclick="javascript:vertAlignClick(0)">
                    <label>Top</label>
                </div>
    
                <div class="input-container-tab">
                    <input type="radio" id="alignVertC" name="alignVert" value="Center" onclick="javascript:vertAlignClick(1)" checked>
                    <label>Center</label>
                </div>
    
                <div class="input-container-tab">
                    <input type="radio" id="alignVertB" name="alignVert" value="Bottom" onclick="javascript:vertAlignClick(2)">
                    <label>Bottom</label>
                </div>
            </div>

            <div class="flex-container input-container">
                <div>Offset: </div>
                
                <div class="input-container-tab">
                    <div>X:</div>
                    <input type="number" id="txtPivotX" value="0" style="width: 4em" onchange="javascript:meshOffset(0,this.value)">
                </div>
                
                <div class="input-container-tab">
                    <div>Y:</div>
                    <input type="number" id="txtPivotY" value="0" style="width: 4em" onchange="javascript:meshOffset(1,this.value)">
                </div>

                <div class="input-container-tab">
                    <div>Z:</div>
                    <input type="number" id="txtPivotZ" value="0" style="width: 4em" onchange="javascript:meshOffset(2,this.value)">
                </div>
            </div>

            <div class="flex-container input-container">
                <div>Rotation: </div>
                
                <div class="input-container-tab">
                    <div>X:</div>
                    <input type="number" id="txtPivotRotX" value="0" style="width: 4em" onchange="javascript:meshRot(0,this.value)">
                </div>
                
                <div class="input-container-tab">
                    <div>Y:</div>
                    <input type="number" id="txtPivotRotY" value="0" style="width: 4em" onchange="javascript:meshRot(1,this.value)">
                </div>
                
                <div class="input-container-tab">
                    <div>Z:</div>
                    <input type="number" id="txtPivotRotZ" value="0" style="width: 4em" onchange="javascript:meshRot(2,this.value)">
                </div>
            </div>
        </div>

        <div class="flex-container input-container">
            <div>Random Rotation: </div>
            
            <div class="input-container-tab">
                <div>X</div>
                <input type="checkbox" id="chkXRotation" onclick="javascript:setRandRot(0,this.checked ? 1 : 0)">
            </div>
            
            <div class="input-container-tab">
                <div>Y</div>
                <input type="checkbox" id="chkYRotation" onclick="javascript:setRandRot(1,this.checked ? 1 : 0)">
            </div>
            
            <div class="input-container-tab">
                <div>Z</div>
                <input type="checkbox" id="chkZRotation" onclick="javascript:setRandRot(2,this.checked ? 1 : 0)">
            </div>
        </div>
    </div>

    <div>
        <p id="meshTextInfo">Mesh Info</p>
        <div>
            <div id="meshListDiv" class="sectionOutline flex-thumbnails">
                <button>
                    <img src="texturegrid.png" alt="default" width="64" height="64">
                    <div>Mesh Name</div>
                </button>

                <button>
                    <img src="texturegrid.png" alt="default" width="64" height="64">
                    <div>Mesh Name</div>
                </button>

                <button>
                    <img src="texturegrid.png" alt="default" width="64" height="64">
                    <div>Mesh Name</div>
                </button>

                <button>
                    <img src="texturegrid.png" alt="default" width="64" height="64">
                    <div>Mesh Name</div>
                </button>

                <button>
                    <img src="texturegrid.png" alt="default" width="64" height="64">
                    <div>Mesh Name</div>
                </button>
            </div>
        </div>

        <div id="settingsDiv" class="sectionOutline">
            <div>
                <button id="buttonNew" onclick="javascript:doNew(this.data)">
                    <i class="fa-solid fa-file"></i>
                </button>
            </div>
            
            <div>
                <button id="buttonLoad" onclick="javascript:doLoad(this.data)">
                    <i class="fa-solid fa-folder-open"></i>
                </button>
            </div>

            <div>
                <button id="buttonSave" onclick="javascript:doSave(this.data)">
                    <i class="fa-solid fa-save"></i>
                </button>
            </div>
        </div>
    </div>
</div>