/* CSS Document */

:root {
--CTheme0: #fdfbfaff;
--CTheme1: #fbf6f2ff;
--CTheme2: #92857bff;
--CTheme3: #6d645cff;
--CTheme4: #3d3b3bff;
}

.consoleInput {
    color: white;
	font-family: courier, courier new, serif;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 150px;
	z-index: 10;
	display: flex;
	flex-direction: column;
}


.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 60px;
}

.menu-item {
    font-size: 3em;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-shadow: 3px 3px 3px black;
}

.menu-item.selectable:hover {
    color: var(--moss-green);
    transform: scale(1.01);
}

.menu-item.selectable:active {
    color: var(--vanilla);
    opacity: 0.8;
    transform: scale(1.0);
}

.deactivated-ui {
    opacity: 0.1;
}

.list-container {
    flex-direction: column;
    align-items: center;
}

.list-content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list-title {
    font-size: 3em;
    color: var(--viridian);
    text-align: center;
}

.list-item {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}
.list-item:hover {
    color: var(--moss-green);
    transform: scale(1.05);
}