#OptionsMenuScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: row;
  	align-items: center;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
}

.settings-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #1b2021;
    border: 4px solid black;
    height: 100%;
}

.settings-tab-title {
    font-size: 1.7em;
    color: whitesmoke;
    margin: 5px;
    border-radius: 10px;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.settings-tab-title:hover {
    color: var(--moss-green);
    transform: scale(1.05);
}

.settings-tab-title.selected {
    color: var(--viridian);
}

.settings-content-container {
    padding: 10px;
    margin-left: -10px;
    width: 100%;
    height: 110%;
    background-color: #3c4343;
    border: 4px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 500px; 
}

.settings-content-container::-webkit-scrollbar {
    width: 10px; 
}

.settings-content-container::-webkit-scrollbar-track {
    background: #181a1a; 
    border-radius: 8px; 
}

.settings-content-container::-webkit-scrollbar-thumb {
    background: var(--moss-green);
    border-radius: 5px; 
    border: 2px solid #1b2021;
}

.settings-content-container::-webkit-scrollbar-thumb:hover {
    background: var(--pearl); 
}

.settings-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings-item-section-title {
    margin: 10px;
    color: var(--viridian);
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
}

.settings-tab-item {
    padding: 10px;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 2cqb black;
}

.settings-tab-item:hover {
    color: var(--moss-green);
}
