:root {
    --outer-space: #434a46;
    --viridian: #56876d;
    --jet: #343333;
    --engineering-orange: #c40b08;
    --eerie-black: #1b2021ff;
    --ebony: #51513dff;
    --moss-green: #a6a867ff;
    --vanilla: #e3dc95ff;
    --pearl: #e3dcc2ff;

    --SPPGreen: #15d572;
    --SPPGold: #e0ad22;
}

@font-face {
    font-family: "RingbearerMedium";
    src: url("./../fonts/RingbearerMedium.ttf") format("truetype");
}

html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: "RingbearerMedium"
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fs1em { font-size: 1em; }
.fs2em { font-size: 2em; }
.fs3em { font-size: 3em; }
.fs4em { font-size: 4em; }
.fs5em { font-size: 5em; }

.fs1hem { font-size: 1.5em; }
.fs2hem { font-size: 2.5em; }
.fs3hem { font-size: 3.5em; }
.fs4hem { font-size: 4.5em; }
.fs5hem { font-size: 5.5em; }

.disabled-ui {
    opacity: 0.4;
}

.column-container
{
    display: flex;
    flex-direction: column;
}
.column-container.hidden
{
    display: none;
}

.row-container
{
    display: flex;
    flex-direction: row;
}
.row-container.hidden
{
    display: none;
}

.container-item
{
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-shadow: 4px 4px 4px black;
}

.selectable:hover 
{
    color: var(--SPPGold);
    transform: scale(1.01);
}

.selectable:active 
{
    color: var(--vanilla);
    opacity: 0.8;
    transform: scale(1.0);
}

::-webkit-scrollbar 
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #f8f8f82e;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb 
{
    background: rgb(105, 121, 95);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #9b5252;
}